<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Sidebar Page
    <small>Subheading</small>
  </h1>

  <app-breadcrumb [title]="'Home'" [path]="'home'" [page]="'Sidebar'"></app-breadcrumb>


  <!-- Content Row -->
  <div class="row">
    <!-- Sidebar Column -->
    <div class="col-lg-3 mb-4">
      <div class="list-group">
        <a [routerLink]="['/home']" class="list-group-item">Home</a>
        <a [routerLink]="['/about']" class="list-group-item">About</a>
        <a [routerLink]="['/services']" class="list-group-item">Services</a>
        <a [routerLink]="['/contact']" class="list-group-item">Contact</a>
        <a [routerLink]="['/portfolio-one-column']" class="list-group-item">1 Column Portfolio</a>
        <a [routerLink]="['/portfolio-two-column']" class="list-group-item">2 Column Portfolio</a>
        <a [routerLink]="['/portfolio-three-column']" class="list-group-item">3 Column Portfolio</a>
        <a [routerLink]="['/portfolio-four-column']" class="list-group-item">4 Column Portfolio</a>
        <a [routerLink]="['/portfolio-single']" class="list-group-item">Single Portfolio Item</a>
        <a [routerLink]="['/blog-home-1']" class="list-group-item">Blog Home 1</a>
        <a [routerLink]="['/blog-home-2']" class="list-group-item">Blog Home 2</a>
        <a [routerLink]="['/blog-post']" class="list-group-item">Blog Post</a>
        <a [routerLink]="['/full-width']" class="list-group-item">Full Width Page</a>
        <a [routerLink]="['/sidebar']" class="list-group-item active">Sidebar Page</a>
        <a [routerLink]="['/faq']" class="list-group-item">FAQ</a>
        <a [routerLink]="['/not-found']" class="list-group-item">404</a>
        <a [routerLink]="['/pricing']" class="list-group-item">Pricing Table</a>
      </div>
    </div>
    <!-- Content Column -->
    <div class="col-lg-9 mb-4">
      <h2>Section Heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>
    </div>
  </div>
  <!-- /.row -->

</div>