<div class="">
    <div class="container">
        <app-loading *ngIf="!show"></app-loading>
        <!-- Outer Row -->
        <div class="row justify-content-center" *ngIf="show">

            <div class="col-xl-6 col-lg-6 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!--<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" (ngSubmit)="login()" #forma="ngForm">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                aria-describedby="emailHelp" name="email" #email="ngModel"
                                                [(ngModel)]="user.email" type="email" id="email"
                                                aria-describedby="emailHelp" placeholder="Enter email"
                                                [ngClass]="{'is-valid': !email.invalid, 'is-invalid': email.invalid }"
                                                required
                                                pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
                                            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="email.errors.required">
                                                    Email necesario
                                                </div>
                                                <div *ngIf="email.errors && email.errors.pattern">
                                                    Email no correcto
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                 name="password" [ngClass]="{'is-valid': !password.invalid, 'is-invalid': password.invalid }"
                                                required #password="ngModel" [(ngModel)]="user.password" type="password"
                                                id="password" placeholder="Password">
                                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                                <div *ngIf="password.errors.required">
                                                    password necesario
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                                        </div>
                                    </div>-->
                                        <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Submit</button>
                                        <hr>
                                        <!--<a [routerLink]="['/dashboard']" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a [routerLink]="['/dashboard']" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>-->
                                    </form>
                                    <div class="text-center">
                                        <a class="small" [routerLink]="['/forgot']">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" [routerLink]="['/register']">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>