<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Services
    <small>Subheading</small>
  </h1>

  <app-breadcrumb [title]="'Home'" [path]="'home'" [page]="'Services'"></app-breadcrumb>

  <!-- Image Header 
  <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">-->
  <app-poster-image [classValues]="'img-fluid rounded mb-4'" [src]="'http://placehold.it/1200x300'"></app-poster-image>
  <!-- Marketing Icons Section -->
  <div class="row">
    <app-card-item class="col-lg-4 mb-4"></app-card-item>
    <app-card-item class="col-lg-4 mb-4"></app-card-item>
    <app-card-item class="col-lg-4 mb-4"></app-card-item>
  </div>
  <!-- /.row -->

</div>