<div id="top-home"></div>

<app-carousel [items]="carouselItems"></app-carousel>
<div class="container scrolling-box">

  <!--<app-page-title [title]="'Inicio'" [description]="'des'"></app-page-title>-->
  <br/>
  <app-loading *ngIf="loading" [cardsLoad]="true"></app-loading>
   
    <div class="row" *ngIf="loading">
    <div class="col">
      
    </div>
  </div>
  
  <!-- Marketing Icons Section -->
  <div class="row" *ngIf="!loading">
      <div class="col-lg-12 mx-auto" >
          <!-- Blog Post -->
         <div class="card">
             <div class="card-body">
               <div class="row">
                 <div class="col-lg-3">
                   <a (click)="openPost(important.id)">
                     <app-poster-image [classValues]="'img-fluid rounded'" [alt]="important.title" *ngIf="important.thumbnail == null" [src]="'./assets/img/anartz.jpg'"></app-poster-image>
                     <app-poster-image [classValues]="'img-fluid rounded'" [alt]="important.title" *ngIf="important.thumbnail" [src]="important.thumbnail"></app-poster-image>
                   </a>
                 </div>
                 <div class="col-lg-9">
                   <h2 class="card-title"><a (click)="openPost(important.id)">{{ important.title }}</a></h2>
                   <app-publish-info [important]="important.important"></app-publish-info>
                   <div class="card-text" [innerHtml]="important.subtitle"></div>
                   <app-button [externalUrl]="important.url" [title]="important.title"></app-button>
                   <!--<app-button [to]="'post'" [param]="important.id" [title]="important.title"></app-button>-->
                 </div>
               </div>
             </div>
         </div>
         <hr>
      </div>
    <app-card-item class="col-lg-4 mb-4" [title]="p.title" [description]="p.subtitle"
        [image]="p.thumbnail" [url]="p.url" *ngFor="let p of posts" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()"></app-card-item>
  
        
    </div>
    <button [ngClass]="'no-hidden'"
    *ngIf="showGoUpButton" class="btn btn-dark float-right"
    (click)="scrollTop()">
<i class="fas fa-angle-up"></i>
</button>
<!-- /.row -->

  <!-- Portfolio Section -->
  <!-- <h2>Portfolio Heading</h2>

  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><app-poster-image [classValues]="'card-img-top'" [src]="'http://placehold.it/700x400'"></app-poster-image></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project One</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><app-poster-image [classValues]="'card-img-top'" [src]="'http://placehold.it/700x400'"></app-poster-image></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Two</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><app-poster-image [classValues]="'card-img-top'" [src]="'http://placehold.it/700x400'"></app-poster-image></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Three</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><app-poster-image [classValues]="'card-img-top'" [src]="'http://placehold.it/700x400'"></app-poster-image></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Four</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><app-poster-image [classValues]="'card-img-top'" [src]="'http://placehold.it/700x400'"></app-poster-image></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Five</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><app-poster-image [classValues]="'card-img-top'" [src]="'http://placehold.it/700x400'"></app-poster-image></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Six</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <!-- <div class="row">
    <div class="col-lg-6">
      <h2>Modern Business Features</h2>
      <p>The Modern Business template by Start Bootstrap includes:</p>
      <ul>
        <li>
          <strong>Bootstrap v4</strong>
        </li>
        <li>jQuery</li>
        <li>Font Awesome</li>
        <li>Working contact form with validation</li>
        <li>Unstyled page elements for easy customization</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <!--<div class="row mb-4">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
    </div>
  </div>-->

</div>
